.gpm-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4E5166;
}
.gpm-card-post{
    display: flex;
    flex-direction: column;
    width: 470px;
    margin-top:15px;
    border-radius: 10px;
    border: solid 1px #4E5166;
    background-color: #fff;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.8);
}

.gpm-card{
    font-family: 'Lato', sans-serif;
    background-color: white;

}

.gpm-card.titre{
    font-weight: bold;
    display: flex;
    align-self: center;
    align-items: center;
    height:50px;

}

.gpm-card.contenu{
    display: flex;
    flex-direction: column;
}

.contenuarea {
    
    font-size: 15px;
    padding-left: 10px;
    overflow: auto;
    font-family: 'Lato', sans-serif;
    
}


pre.contenuarea {
    margin:Opx;
}

.gpm-card.auteur{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:5px;
}

.image{
    width: 100%;
   max-height: 600px;
    object-fit:cover;
    object-position:center;
}
